html,
body,
#root,
.app {
  height: 100%;
  width: 100%;
}

body {
  overflow: clip;
}

.app {
  display: flex;
  position: relative;
  justify-content: center;
}

form {
  height: 100%;
  width: 100%
}